# Web Framework
fastapi
uvicorn

# For parsing multipart form data (necessary for file uploads in FastAPI)
python-multipart

# Environment variable management
python-dotenv

# LangChain ecosystem
langchain
langchain-openai
langchain-community
langchain-chroma

# PDF processing and tokenization
pypdf
tiktoken
langchain
langchain-community
langchain-openai
langchain-text-splitters
openai
python-dotenv
pypdf
faiss-cpu
sentence-transformers